$font-family: "Arial Black", sans serif;

@mixin color($color){
    color: $color;
}

@mixin position($pos){
    text-align: $pos;
}

@mixin border-radius($radius){
    border-radius: $radius;
}

body{
  @include position(center);
  background-color: black;
}

@mixin card-properties($bgc, $color, $font-size){
  width: 50%;
  @include position(center);
  background-color: $bgc;
  color: $color;
  font-size: $font-size;
  font-family: $font-family;
  margin:auto;
  margin-top: 50px;
}

.card{
    @include card-properties(#e0e0e0, white, 50px);
    @include border-radius(10px);
}

.under-card{
    @include card-properties(#f8bbd0, white, 20px);
    @include position(left);
    @include border-radius(10px);
//    margin: inherit;
}

.green{
    @include color(green);
}

.red{
    @include color(red);
}